# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Dataset
crops_image/

# Model checkpoints
*.pth
*.pt

# Logs
*.log